{
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "<SEPARATOR>",

    "^@eweap/(.*)$",
    "<SEPARATOR>",

    "^[./]",
    "<SEPARATOR>"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
